@import '../../scss/basic/variables';


.testimonials {
  padding: 45px 0;
  color: $background-color;

  @include media-breakpoint-up(md) {
    padding: 75px 0;
  }

  &__wrapper {
    @include make-fluid-container();
    @include make-container();
  }

  &__row {
    @include make-row();
  }

  &__col-1 {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(11);
    }
  }

  &__col-2 {
    @include make-col-ready();
    display: none;

    @include media-breakpoint-up(md) {
      @include make-col(1);
      display: block;
    }
  }

  &__heading {
    margin: 0 auto 40px;
    font: 300 30px/1 $font-family;
    text-transform: uppercase;

    &:after {
      margin-top: 10px;
      display: block;
      content: '';
      width: 45px;
      height: 2px;
      background: $background-color;
    }
  }
  
  &__text {
    margin:0 0 30px;
    font: 100 28px/1.5 $font-family;
  }

  &__author {
    margin: 0;
    font: 600 14px $font-family;
    color: $acent-color;
  }
  
  &__icon {
    text-align: right;
  }
}