@import '../../scss/basic/variables';

@font-face {
  font-family: 'icons';
  src: url('icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 30px;
  color: blue;
}

.icon--twitter:before {
  content: "\f099";
}
.icon--bars:before {
  content: "\f0c9";
}
.icon--navicon:before {
  content: "\f0c9";
}
.icon--reorder:before {
  content: "\f0c9";
}
.icon--google-plus:before {
  content: "\f0d5";
}
.icon--coffee:before {
  content: "\f0f4";
}
.icon--quote-right:before {
  content: "\f10e";
}
.icon--dribbble:before {
  content: "\f17d";
}