@import '../../scss/basic/variables';

.video {
  padding: 45px 0;
  background: $background-color;
  color: #fff;

  @include media-breakpoint-up(md) {
    padding: 75px 0;
  }

  &__wrapper {
    @include make-fluid-container();
    @include make-container();
  }

  &__row {
    @include make-row();
  }

  &__col-1 {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(5);
    }
  }

  &__col-2 {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(6);
      @include make-col-offset(1);
    }
  }

  &__heading {
    margin: 0 0 35px;
    font: 300 30px/1 $font-family;
    text-transform: uppercase;

    &:after {
      margin-top: 10px;
      display: block;
      content: '';
      width: 45px;
      height: 2px;
      background: #fff;
    }
  }

  &__text {
    margin: 0 0 25px;
    font: 14px/1.5 $font-family;
  }

  &__content {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  &__src {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__btn {
    display: inline-block;
    padding: 10px 40px;
    font: bold 14px/1 $font-family;
    text-transform: uppercase;
    text-decoration: none;
    color: #353f46;
    border: 2px solid #353f46;
    transition: .3s;

    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }
}
